<div class="input-wrapper d-flex flex-wrap align-items-center">
  <div class="icon-countries d-flex">
    <img src="../../../../assets/images/home/cloud.svg" alt="location-icon-cloud">
    <div ngbDropdown class="d-inline-block input-country">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
        <img *ngIf="selectedCountry"
             alt="selected-country-image"
             src="{{'https://www.countryflags.io/'+ selectedCountry.country_code +'/flat/64.png'}}">
        {{ selectedCountry ? selectedCountry.country_code : 'Country' }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-countries">
        <button *ngFor="let country of allCountries" ngbDropdownItem (click)="selectCountry(country)">
          <img alt="dropdown-countries" src="{{'https://www.countryflags.io/'+ country.country_code +'/flat/64.png'}}">
          {{country.country_name}}</button>
      </div>
    </div>
  </div>
  <div class="city-autocomplete d-flex">
    <ng-autocomplete
      [disabled]="!selectedCities"
      [data]="selectedCities"
      [searchKeyword]="keyword"
      placeholder="Please enter your location..."
      historyIdentifier=""
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate"
      (selected)="sendCityData($event)"
    >
    </ng-autocomplete>
    <ng-template #itemTemplate let-item>
      <div class="item">
        <span [innerHTML]="item.city_name"></span>
      </div>
    </ng-template>
    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>
</div>
