.input-wrapper {
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    #f8f8f8;
  box-shadow: 0 2px 10px rgba(8, 21, 62, 0.15);

  .icon-countries img.weather-icon {
    height: 48px;
    width: 48px;
  }

  .city-autocomplete,
  .icon-countries .country-autocomplete-wrapper {
    height: 48px;
  }

  .country-autocomplete-wrapper {
    width: 95px;
    margin-left: 14px;
    margin-right: 8px;

    ng-autocomplete.autocomplete-country {
      ::ng-deep {
        .input-container {
          .custom-image-wrapper {
            display: flex;
            align-items: center;
            height: 100%;
            top: 0;
            left: 8px;

            &.hidden-wrapper {
              display: none;
            }

            img {
              height: 15px;
              width: 20px;
              border: 1px solid #08153e;
              border-radius: 3px;
            }
          }

          input {
            text-align: center;
          }
        }

        .suggestions-container.is-visible {
          width: 200px;
          ul li.item .item span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 12px;
          }
        }
      }
    }
  }

  .city-autocomplete {
    flex: 1;
  }

  ::ng-deep {
    ng-autocomplete.ng-autocomplete {
      width: 100% !important;

      .autocomplete-container {
        box-shadow: none;
        height: 100%;

        .input-container {
          height: 100%;

          input {
            height: 100%;
            border-radius: 6px;
            border: 1px solid rgba(8, 21, 62, 0.05);
            color: rgba(8, 21, 62, 1);

            &::placeholder {
              color: rgba(8, 21, 62, 0.5);
            }

            &:focus,
            &:hover:focus {
              border: 2px solid #b5c7ff;
            }

            &:hover {
              border: 1px solid #b5c7ff;
            }
          }
        }
      }

      .suggestions-container.is-visible {
        ul li.item .item {
          display: flex;
          align-items: center;
          padding-left: 12px;
          padding-top: 4px;
          padding-bottom: 4px;

          img {
            width: 30px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .input-wrapper {
    padding: 22px;
  }
}

@media screen and (max-width: 768px) {
  .input-wrapper {
    padding: 12px;
  }
}

@media screen and (max-width: 471px) {
  .input-wrapper {
    flex-direction: column;

    .icon-countries {
      margin: auto auto 12px;
      flex-direction: column;
      align-items: center;
    }

    .city-autocomplete {
      width: 100%;
    }
  }
}
