<div class="input-wrapper d-flex flex-wrap align-items-center">
  <div class="icon-countries d-flex">
    <img src="../../../../assets/images/home/cloud.svg" class="weather-icon" alt="location-icon-cloud">
    <div class="country-autocomplete-wrapper">
      <ng-autocomplete
        #autocomplete
        class="autocomplete-country"
        id="autocomplete1"
        placeholder="Country"
        historyIdentifier=""
        [data]="allCountries"
        [searchKeyword]="countryKeyword"
        [itemTemplate]="itemTemplateCountry"
        [notFoundTemplate]="notFoundTemplateCountry"
        (selected)="selectCountry($event)"
        (inputCleared)="clearedCountry()"
      >
      </ng-autocomplete>
      <ng-template #itemTemplateCountry let-item>
        <div class="item">
          <img alt="dropdown-countries" src="{{'../../../../assets/images/countries/' + item.icon + '.png'}}">
          <span [innerHTML]="item.country_name"></span>
        </div>
      </ng-template>
      <ng-template #notFoundTemplateCountry let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
  </div>

  <div class="city-autocomplete d-flex">
    <ng-autocomplete
      [disabled]="!selectedCities"
      [data]="selectedCities"
      [searchKeyword]="keyword"
      placeholder="Please enter your location..."
      historyIdentifier=""
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate"
      (selected)="sendCityData($event)"
    >
    </ng-autocomplete>
    <ng-template #itemTemplate let-item>
      <div class="item">
        <span [innerHTML]="item.city_name"></span>
      </div>
    </ng-template>
    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>
</div>
